/* -- STYLES RESET -- */
* {
  font-family: "Gugi-Regular";
  margin: 0;
  box-sizing: border-box;
}

/* -- FONT -- */
@font-face {
  font-family: "Gugi-Regular";
  src: url("../fonts/Gugi/Gugi-Regular.ttf");
}

/* -- SPLASH SCREEN DESIGN -- */

.container {
  width: 100%;
  height: 130%;
  background-image: url("/img/splashscreen.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
  display: flex;
  justify-content: center;
}

.container h1 {
  width: 100%;
  font-size: 100px;
  text-shadow: 5px 5px 5px black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 190px;
  margin-left: 200px;
}

.container button {
  height: 100px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-shadow: 1px 1px 1px white;
  background-color: rgba(161, 252, 3, 0.8);
  border-style: none;
  border-radius: 5px;
  margin-top: 170px;
  margin-left: 630px;
}

.container button span {
  font-size: 48px;
  color: black;
}
.container h2 {
  margin-left: 22px;
}
.container .list {
  font-weight: 800;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  margin-right: 100px;
  margin-top: 340px;
}

.box {
  background: rgba(255, 255, 255, 0.5);
  height: 180px;
  width: 320px;
  border-radius: 5px;
}

/* -- GAME SCREEN DESIGN -- */
.game-container {
  width: 100%;
  height: 100%;
  background-image: url("../img/gameScreenbackground.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: fixed;
}

header {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-left: 20px;
}

header .lives {
  flex: 1;
  justify-content: center;
  color: rgba(161, 252, 3, 1);
  font-size: 30px;
  margin-right: 500px;
}

header .score {
  flex: 1;
  justify-content: center;
  color: rgba(161, 252, 3, 1);
  font-size: 30px;
  margin-left: 350px;
}

.canvas-container {
  border: 1px solid red;
  margin-right: 30px;
  flex: 1;
}
